version: "3.8"

services:
  php:
    volumes:
    - local:/home/dev/lib

volumes:
  local:
    driver: local
    driver_opts:
      type: nfs
      o: addr=host.docker.internal,rw,nolock,hard,nointr,nfsvers=3,rsize=32768,wsize=32768
      device: ":$PWD"