parameters:
	ignoreErrors:
		-
			message: "#^Template type ClassFactory of method Facile\\\\PhpCodec\\\\Decoders\\:\\:classFromArrayPropsDecoder\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Decoders.php

		-
			message: "#^Template type T of method Facile\\\\PhpCodec\\\\Decoders\\:\\:classFromArrayPropsDecoder\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Decoders.php

		-
			message: "#^Template type VP of method Facile\\\\PhpCodec\\\\Validation\\\\ListOfValidation\\:\\:reduceToIndexedSuccessOrAllFailures\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Validation/ListOfValidation.php

		-
			message: "#^Template type T of method Facile\\\\PhpCodec\\\\Validation\\\\Validation\\:\\:failure\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Validation/Validation.php

		-
			message: "#^Template type T of method Facile\\\\PhpCodec\\\\Validation\\\\Validation\\:\\:failures\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Validation/Validation.php

		-
			message: "#^Template type R of method Tests\\\\Facile\\\\PhpCodec\\\\BaseTestCase\\:\\:asserSuccessSameTo\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: tests/unit/BaseTestCase.php
