includes:
    - vendor/phpat/phpat/extension.neon
    - phpat.neon
    - phpstan-baseline.neon
parameters:
	level: 10
	paths:
		- src
		- tests/examples
		- tests/unit
	reportUnmatchedIgnoredErrors: false